.auth {
    margin: 2rem auto;
    width: 95%;
    max-width: 25rem;
    border-radius: 6px;
    background-color: black;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    text-align: center;
  
    color: white;
  }
  
  .auth h1 {
    text-align: center;
    color: white;
  }
  
  .control {
    margin-bottom: 0.5rem;
  }
  
  .control label {
    display: block;
    color: white;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .control input {
    font: inherit;
    background-color: white;
    color: #38015c;
    border-radius: 0;
    border: 1px solid white;
    width: 100%;
    text-align: left;
    padding: 0.25rem;
    height: 32px;

  }
  
  .actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .error{
      color: red;
  }
  
  .actions .toggle {
    margin-top: 1rem;
    background-color: transparent;
    color:white;
    border: none;
    padding: 0.15rem 1.5rem;
    cursor: pointer;

    font-size: 16   px;
  }
  
  .actions .toggle:hover {
    background-color: transparent;
    color:palevioletred;
  }

  @media (max-width:900px){
      .auth{
          width: 75%;
      }
  }