.footer{
    color:white;
    background-color: black;
    height: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer>*{
    margin: 6px 0px;
}