.footer{
    color:white;
    background-color: black;
    height: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer>*{
    margin: 6px 0px;
}