.button1,.button2{
    padding:4px;
    outline: none;
    border: none;
    text-align: center;
    background-color:black;

    color: white;
    /* width: 20%; */
    height: 32px;
    cursor: pointer;
}
.button2{
    background-color: white;
    color: black;
    width: 30%;
}

.button1:hover,.button2:hover{
    background-color: palevioletred;
}

.button1 a{
    text-decoration: none;
    color: white;
}