.button1{
    padding:4px;
    outline: none;
    border: none;
    text-align: center;
    margin: 0 0 20px 0px;

    background-color:black;

    color: white;
    /* width: 20%; */
    height: 32px;
    cursor: pointer;

}

.button1 a{
    text-decoration: none;
    color: white;
}